@model IEnumerable<CustomerServiceApp.Models.Customer>

<html>
<head>
    <title>Customers</title>
</head>
<body>
    <h2>Customers</h2>
    <ul> 
        @foreach (var listItem in Model)
        {
            <li>@Html.DisplayFor(modelCustomer => listItem.Name) | @Html.ActionLink("Details", "Details", new { id = listItem.CustomerId })</li>
        }
    </ul>
    <p>@Html.ActionLink("Add new customer", "Create")</p>
</body>
</html>